:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;

  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*
  =============== 
  Global Styles
  ===============
  */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  /* letter-spacing: var(--spacing); */
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */
.container {
  width: 90vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--clr-primary-5);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
/*end   */

/* Custom Navbar Styles */
.navbar {
  background-color: var(--clr-primary-7);
  padding: 1rem 2rem;
  max-width: 100%;
}

.navbar-brand {
  color: var(--clr-primary-5);
  font-weight: bold;
}

.navbar-brand:hover {
  color: var(--clr-primary-3) !important;
}
.nav-item {
  margin: 0 1rem;
  font-size: 1.1rem;
  align-items: center;
  display: flex;
}
.navbar-toggler-icon {
  color: var(--clr-white);
}

.navbar-toggler {
  border-color: var(--clr-black);
}

.navbar-nav .nav-link {
  color: var(--clr-black) !important;
}

.navbar-nav .nav-link:hover {
  color: var(--clr-primary-3) !important;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}
.searchButton {
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
}

.search-input {
  padding: 0.5rem 4rem;
  border-radius: var(--borderRadius);
  transition: var(--transition);
}

.search-input:hover {
  border: 1px solid var(--clr-primary-6);
}
.button {
  background: transparent;
  /* border-color: var(--clr-black); */
  font-size: 0.9rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  background-color: var(--clr-primary-5);
  color: var(--clr-white);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  margin: 2rem 1rem;
}
.button:hover {
  background-color: var(--clr-primary-9);
  color: var(--clr-white);
}
@media screen and (min-width: 992px) {
  .sebuttonction {
    width: 95vw;
  }
}

.filterButton {
  background: transparent;
  border-color: var(--clr-black);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  background-color: var(--clr-white);
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  margin: 2rem 1rem;
}
/* end navbar */
/* hero section */
.text-container {
  position: absolute;
  top: 10%;
  left: 1rem;
  transform: translate(-15%, -100%);
  text-align: left;
  align-items: center;
  max-width: 100%;
  height: 50vh;
}

.text-bold {
  font-weight: bold;
  color: var(--clr-primary-10);
  font-size: 3rem;
}

/* end of hero section */

/* category */
.categoryContainer {
  margin-top: 2rem;
}
.categoryHeader {
  background-color: var(--clr-primary-5);
  margin-top: 2rem;
  border-top-left-radius: var(--borderRadius);
  border-top-right-radius: var(--borderRadius);
  color: var(--clr-white);
  padding: 1rem;
}
.categoryCards {
  max-width: 100rem;
}
.card {
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  background-color: var(--clr-white);
  margin: 1rem auto;
  padding: 0.5rem;
  text-align: center;
  height: 90%;
}
.carousel-control-prev,
.carousel-control-next {
  height: 50px;
  width: 50px;
  background-color: var(--clr-primary-4);
  border-radius: 50%;
  margin-top: 7rem;
  font-size: 24px;
  line-height: 50px;
  color: var(--clr-white);
  display: flex; /* Add this */
  justify-content: center; /* Add this */
  align-items: center; /* Add this */
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--clr-primary-1);
}

/* end category */

/* about Merchant */
.figure {
  margin-top: 2rem;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* footer */
.footerContainer {
  margin-top: 2rem;
  background-color: var(--clr-primary-5);
  text-align: left;
  width: 100%;
  color: var(--clr-white);
  padding: 2rem;
}

.footer-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 20px;
  color: var(--clr-white);
}

.footer-col {
  margin-bottom: 20px;
  flex: 1;
}

.footer-col h5 {
  color: var(--clr-white);
}

.footer-col p {
  font-size: 0.9rem;
  color: var(--clr-white);
}

.footer-col ul {
  list-style-type: none;
  padding: 0;
}
.footer-col li {
  list-style-type: none;
}

.footer-col ul li {
  margin-bottom: 5px;
}

.footer-col ul li:before {
  content: "\2022";
  color: var(--clr-white);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.footer-col p:last-child {
  margin-bottom: 0;
  color: var(--clr-white);
}

.footer-col:last-child {
  text-align: center;
  color: var(--clr-white);
}

.footer-col:last-child h5 {
  margin-bottom: 1.5rem;
}

.footer-col:last-child p {
  margin-bottom: 0;
  color: var(--clr-white);
}

/* end footer */

/* POST ADD CONTAINER */
.signupContainer {
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: left;
}
button {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  /* margin: 0 0.5rem; */
  padding: 0.375rem 0.75rem;
  color: var(--clr-primary-5);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  font-weight: bold;
}
button {
  background: var(--clr-primary-5);
  color: var(--clr-white);
}

.form-label {
  text-align: left;
  display: block;
  width: 100%;
}

.card {
  max-width: 100%;
}

@media (min-width: 576px) {
  .card {
    width: 30%;
  }
}

@media (min-width: 768px) {
  .card {
    width: 40rem; /* Adjust card width for medium devices */
  }
}

@media (min-width: 992px) {
  .card {
    width: 50rem;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 60rem;
  }
}

/*  listing  */
.shippingDetails {
  background-color: var(--clr-white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--clr-primary-5);
  padding-top: 1.2rem;
}
.category-card,
.shopping-cart-card {
  background-color: var(--clr-primary-5);
  border: none;
}

.category-card h4,
.shopping-cart-card h4,
.shopping-cart-card .card-header h5 {
  padding: 1rem;
  margin-bottom: 0;
}
.form-group {
  margin: 1.5rem;
}

.shopping-cart-card .card-body {
  padding: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid var(--clr-grey-9);
}

.table th {
  background-color: var(--clr-grey-10);
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: var(--clr-grey-9);
}

.table tbody tr:hover {
  background-color: var(--clr-grey-8);
}

.table img {
  max-width: 100px;
  height: auto;
}

.total-section {
  display: flex;
  flex-direction: row;
  /* align-items: flex-end; */
  margin-top: 20px;
}
/* end of shopping cart */

/* product details */
.deliveryDetails {
  background-color: var(--clr-primary-7);
  color: var(--clr-white);
  padding: 1.25rem;
}

.deliveryDetails .card-title {
  color: var(--clr-white);
}

.deliveryDetails .form-control {
  background-color: var(--clr-primary-8);
  color: var(--clr-white);
  border-color: var(--clr-primary-8);
}

.deliveryDetails .form-control::placeholder {
  color: var(--clr-white);
}

.deliveryDetails .btn {
  background-color: var(--clr-primary-5);
  border-color: var(--clr-primary-5);
}

.deliveryDetails .btn:hover {
  background-color: var(--clr-primary-6);
  border-color: var(--clr-primary-6);
}

.card {
  border: none;
  height:auto;
  
}

#cards{
  display:flex;
  justify-content: space-around;
  flex-wrap:wrap ;
}

.Card{
  width:23%;
  box-shadow: 0 0 4px 3px rgb(92, 189, 249);
  text-align: center;
  padding: auto;
  margin-bottom: 2em;
  margin-top: 2rem;
  height: 30rem;
}

.images{
  height: 250px; 
  /* object-fit: cover;  */
}

.title{
  font-size:1.3rem ;
  margin-top:1.3rem;
}

.price{
  font-weight:bold;
  text-transform: capitalize;
  margin: 1rem;
  font-size: 1.2rem;
}
.category{
  font-weight:bold;
  text-transform: capitalize;
  margin: 0rem;
  font-size: 1rem;
}
.Button {
  padding: 8px 16px;
  background-color: #4da2fe;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-self: center; /* Center the button horizontally */
}

.Button:hover {
  background-color: #0056b3;
}
.Button-container {
  position: absolute;
  bottom: 10px; /* Adjust the spacing from the bottom */
  left: 50%;
  transform: translateX(-50%);
}
.heading{
  font-size: 2.5rem;
  color: #0775b1;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  margin-top: 2rem;
}


.product-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.product-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}
.product-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.product-price {
  font-size: 20px;
  font-weight: bold;
  color: var(--clr-primary-5);
  margin-bottom: 20px;
}
.product-description {
  color: var(--clr-grey-1);
  margin-bottom: 20px;
}
.social-icons {
  font-size: 24px;
  margin-bottom: 20px;
}
.shipping-details {
  background-color: var(--clr-primary-5);
  border-radius: 10px;
}
.shipping-details .card-title {
  color: var(--clr-white);
}
.quantity{
  font-size: 1rem;
  padding: 2%;
}