<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=" jane.biology@university.edu">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">I wanted to let you know that I am quite pleased with you fast delivery & your product , which works well. As advertised</textarea>
  </div>
  
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="john.smith.architect@yahoo.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Got it. Excellent job of packing! Everything works perfectly! Thanks!</textarea>
  </div>
  
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="jsmith.designs@protonmail.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">Product is very good, fit is good. After trying many products of different brands, this one is the best!! All of you can go ahead and buy without any doubt!!
  The material is excellent and comfy.
  
  Only one problem, the delivery of the product was too late than expected. But later the seller solved the issue and took efforts to deliver it .</textarea>
  </div>
  
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="john.smith@gmail.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">My son and family received the DVD player and they are delighted. Now my little grandson can play the Fireman Sam dvd's I bought him from the UK, not thinking about different regions. You have made a little three year old very happy as well as his Grandpa. My wishes for great sucess with your business.</textarea>
  </div>
  
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">comments</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  
  