<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
<h1>Help!</h1>

<p><h2>What can I do if my account was deactivated?</h2>
To reactivate your account, please check why it was deactivated first. The deactivation reasons include:
1) deactivated by yourself
2) deactivated due to security reasons by merchant hub
Great is
Great is Your faithfulness to me (I'll still bless You)
Great is Your faithfulness to me (I'll still bless You)
From the rising sun (I'll still bless you)
From the rising sun to the setting same (I'll still bless You)
I will praise Your name (I'll still bless You)
Great is Your faithfulness to me (I'll still bless You)
Yes, I'll still bless You
In the middle of the storm, in the middle of my trial
I'll still bless You
In the middle of the road, when I don't know where to go
I'll still bless You (yeah)
In the middle of my storm, in the middle of my trial
I'll still bless You (yeah)
When I'm in the middle of the road and I don't know which way to go
I'll still (I'll still bless You)
I'll still bless You
I'll still bless You, oh (I'll still bless You)
I've got a reason to bless You, yeah
I've got a reason to bless You (I'll still bless You)
I've got a reason to bless Your name
You've been faithful, You've been faithful (I'll still bless You)
You've been so good to me, You've been so good
Come on just lift up your praise
Just lift up your worship to him
You've been so good, you've been so good
Let this, oh, this body be filled with Your praise
Be filled with Your praise (we bless Your name, we bless Your name)
We bless Your name, oh-oh-oh
I'll still bless You, oh-oh-oh
I'll still bless You, oh-oh-oh
I'll still bless You, oh-oh-oh
I'll still bless You
Great is Your faithfulness
Great is Your faithfulness to me (great is)
Great is Your faithfulness to me (from the rising sun)
From the rising sun to the setting same
I will praise Your name (from the rising sun)
From the rising sun to the setting same (oh my God)
I will praise Your name (from the rising sun)
From the rising sun to the setting same (yeah)
I will praise Your name (great is)
Great is Your faithfulness to me

<h2>How do I cancel my membership?</h2>
Please note that here is difference between account deactivation and deletion:
1) If you want to deactivate your account for now and you can still reactivate it by yourself when needed, you may click Deactivate Account to fill the information then submit your request.

2) If you want to delete your account information permanently from Alibaba.com, you can click Privacy Policy to submit your request. Or you may go to [My Alibaba] - [Setting]- [Delete account] from APP to submit your request and You will get an update of your request in the same page. If you delete your account is to release your email, you are suggested to change the email address to release it other than delete the account.
Faithful through the ages
God of Abraham
You're the God of covenant
And of faithful promises
Time and time again
You have proven
You'll do just what You said
Though the storms may come and the winds may blow
I'll remain steadfast
And let my heart learn, when You speak a word
It will come to pass
Great is Your faithfulness to me
Great is Your faithfulness to me
From the rising sun to the setting same
I will praise Your name
Great is Your faithfulness to me
When the seasons change
You remain the same
God from age to age
Though the earth may pass away
Your word remains the same, yeah
Your history can prove
There's nothing You can't do
You're faithful and true
Though the storms may come and the winds may blow
I'll remain steadfast
And let my heart learn, when You speak a word
It will come to pass
Great is Your faithfulness to me, oh
Great is Your faithfulness
From the rising sun
From the rising sun to the setting same (I will praise Your name)
I will praise Your name (oh, praise Your name)
Great is Your faithfulness to me, yeah, yeah (oh, oh)
Your faithfulness, it never runs out (yeah)
It never runs out
Oh-oh, Your faithfulness
Oh, it never runs out (it never runs out)
It never runs out (it never runs out)
I put my faith in Jesus
My anchor to the ground
My hope and firm foundation
He'll never let me down, no
I put my faith in Jesus
My anchor to the ground (my hope and firm foundation)
He's my hope and firm foundation (He'll never let me down)
He'll never let me down, oh, I put (oh)
I put my trust (faith) in Jesus (yes, I do)
My anchor to the ground
My hope and firm foundation (my hope and firm foundation)
He'll never let me down (He'll never let me down)
Never let me down
I put my faith in Jesus (I put my faith in Jesus)
My anchor to the ground (my anchor to the ground), oh
He's my hope, my only hope, my only hope (my hope and firm foundation)
He'll never let me down (He'll never let me down)
He'll never let me down (Your faithful)
Great is Your faithfulness to me (faithfulness, oh, great)
Great is Your faithfulness to me (from the rising sun)
From the rising sun to the setting same
I will praise Your name
In every season, great is Your faithfulness to me
Say, I put my faith
I put my faith in Jesus
My anchor to the ground (He's my hope)
My hope and firm foundation (and He'll never let me down)
He'll never let me down (I put my faith)
I put my faith in Jesus (my anchor)
My anchor to the ground (He's my hope)
My hope and firm foundation (never let me down)
He'll never let me down (come on sing it loud)
Say, I put my faith
I put my faith in Jesus (my anchor to the ground)
My anchor to the ground (my hope and)
My hope and firm foundation (never let me down, He'll never)
He'll never let me down (never let me)
I put my faith in Jesus (I put my faith in Jesus)
My anchor to the ground (my anchor to the ground)
He's my hope and firm foundation
My hope and firm foundation
He'll never let me down (He'll never let me down)
No, He'll never let me down (He'll never let me down)
Great is, great (oh, still great)
Great is Your faithfulness to me
In every season, great is Your faithfulness to me (great is Your faithfulness)
From the rising sun
From the rising sun to the setting same (hey)
I will praise Your name
From the rising sun
From the rising sun to the setting same (hey)
I will praise Your name
From the rising sun
From the rising sun to the setting same (let it go up and let it go down)
I will praise Your name (I'll still bless You, I'll still praise You)
From the rising sun to the setting same (let it go up and let it go down)
I will praise Your name (and I'll still bless You, I'll still praise You)
From the rising sun to the setting same (let it go up and let it go down)
I will praise Your name (and I'll still bless You, I'll still bless You)
From the rising sun to the setting same (and I'll still bless You, I'll still bless You)
I will praise Your name (I'll still bless You)
</p>

