
<style>
  .form-label {
    text-align: left;
    display: block;
    width: 100%;
  }
</style>

<div class="container signupContainer">
  <div class="card" style="width: 40rem">
    <div class="card-body">
      <h5 class="card-title">Sign in</h5>
      <div class="mb-4" style="margin-top: 30px;">
        <button type="button" class="next-btn" href="#" style="width: 250px; height: 50px;">
          <i class="bi bi-google"></i>
           Google
        </button>
        
        <button type="button" class="next-btn" href="#"  style="margin-left:40px; width: 250px; height: 50px;">
          <i class="bi bi-facebook"></i>
          Facebook
        </button>


      </div>

      <div class="mb-3">
        <a href="../../loginpage.html"><button type="button" class="next-btn"  style="margin-top: 20px; width: 350px; height: 50px;">E-mail or phone</button></a>
      </div>
      <p> Do you have an account? <a href="../../signup.html"> Registration</a></p>
      <p> By continuing you agree to the <a href="#"> Policy and Rules</a></p>
    </div>
  </div>
</div>
