<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
<h1>settings</h1>
<p>If the altar is where you meet us
Take me there, take me there
What you need is just an offering
It's right here, my life is here
And I'll be a living sacrifice for you
You're a fire
The refiner
I wanna be consumed
I wanna be tried by fire
Purified
You take whatever you desire
Lord here's my life
I wanna be tried by fire
Purifed
You take whatever you desire
Lord here's my life
If your glory wants to come in
Let it fall, we want it all
Lord your fire is consuming
Fill this place, set it ablaze
I'll be a living sacrifice for you
You're a fire
The refiner
I wanna be consumed
I wanna be tried by fire
Purified
You take whatever you desire
Lord here's my life
I wanna be tried by fire
Purifier
You take whatever you desire
Lord here's my life
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
I wanna be tried by fire
Purifier
You take whatever you desire
Lord here's my life
I wanna be tried by fire
Purifier You take whatever you desire
Lord here's my life
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
Clean my hands, purify my heart
I wanna burn for you, only for You
Take my life as a sacrifice
I wanna burn for you, only for You
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
I wanna be tried by fire
Purifier
You take whatever you desire
Lord here's my life
You take whatever you desire
Lord here's my life
You take whatever you desire
Lord here's my life
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
I wanna be tried by fire
Purifier
You take whatever you desire
Lord here's my life
I wanna be tried by fire
Purifier
You take whatever you desire
Lord here's my life
Burn me beautiful
Burn me lovely
Burn righteous
Burn holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
Burn me beautiful
Burn me lovely
Burn me righteous
Burn me holy
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
You're a fire
The refiner
I wanna be consumed
Source: Musixmatch
Songwriters: Chandler Moore
Refiner lyrics © Capitol Cmg Paragon, Songs By Moworkk
</p>
